<div id="errorExplanation" class="flexi_reason"></div>
<%= labelled_form_for @issue, :html => {:id => 'issue-form', :multipart => true} do |f| %>
    <%= error_messages_for 'issue', 'time_entry' %>
    <%= render :partial => 'conflict' if @conflict %>
    <div class="box">
    <% if @edit_allowed || !@allowed_statuses.empty? %>
        <fieldset class="tabular"><legend><%= l(:label_change_properties) %></legend>
        <div id="all_attributes">
        <%= render :partial => 'form', :locals => {:f => f} %>
        </div>
        </fieldset>
    <% end %>
    <% if User.current.allowed_to?(:log_time, @project) %>
        <fieldset class="tabular"><legend><%= l(:button_log_time) %></legend>
        <%= labelled_fields_for :time_entry, @time_entry do |time_entry| %>
        <div class="splitcontentleft">
        <p><%= time_entry.text_field :hours, :size => 6, :label => :label_spent_time %> <%= l(:field_hours) %></p>
        </div>
        <div class="splitcontentright">
        <p><%= time_entry.select :activity_id, activity_collection_for_select_options %></p>
        </div>
        <p><%= time_entry.text_field :comments, :size => 60 %></p>
        <div class="splitcontentleft">
          <% wktime_helper = Object.new.extend(WktimeHelper) %>
          <p><%= time_entry.select :work_location, options_for_select(wktime_helper.timeEntry_location, :selected => @time_entry.work_location), :required => true %></p>
        </div>
        <div class="splitcontentright">
          <% reason = wktime_helper.flexioff_reasons.collect{|x|x[0]}.include?(@time_entry.flexioff_reason) ? @time_entry.flexioff_reason : 'Others'  %>

          <p><%= time_entry.select :flexioff_reason, options_for_select(wktime_helper.flexioff_reasons,  :selected => @time_entry.flexioff_reason.present? ? reason : ''), :required => true  %>
              <span id="flexi_others"></span>
            </p>
        </div>
            <% @time_entry.custom_field_values.each do |value| %>
              <p><%= custom_field_tag_with_label :time_entry, value %></p>
            <% end %>
        <% end %>
    </fieldset>
    <% end %>

    <fieldset><legend><%= l(:field_notes) %></legend>
    <%= f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit', :no_label => true %>
    <%= wikitoolbar_for 'issue_notes' %>

    <% if @issue.safe_attribute? 'private_notes' %>
    <%= f.check_box :private_notes, :no_label => true %> <label for="issue_private_notes"><%= l(:field_private_notes) %></label>
    <% end %>

    <%= call_hook(:view_issues_edit_notes_bottom, { :issue => @issue, :notes => @notes, :form => f }) %>
    </fieldset>

    <fieldset><legend><%= l(:label_attachment_plural) %></legend>
    <p><%= render :partial => 'attachments/form', :locals => {:container => @issue} %></p>
    </fieldset>
    </div>

    <%= f.hidden_field :lock_version %>
    <%= hidden_field_tag 'last_journal_id', params[:last_journal_id] || @issue.last_journal_id %>
    <%= submit_tag l(:button_submit) %>
    <%= preview_link preview_edit_issue_path(:project_id => @project, :id => @issue), 'issue-form' %>
    | <%= link_to l(:button_cancel), {}, :onclick => "$('#update').hide(); return false;" %>
<% end %>

<div id="preview" class="wiki"></div>


<%= javascript_tag do %>
  $(document).ready(function(){
  if ($('#time_entry_activity_id').find(":selected").text()=='Flexi OFF'){
  $('#time_entry_flexioff_reason').closest('p').show();
  }else{
  $('#time_entry_flexioff_reason').closest('p').hide();
  };

  if ($('#time_entry_flexioff_reason').find(":selected").text()=='Others'){
  $('#time_entry_flexioff_reason').closest('p').find('#flexi_others').html("<input name='time_entry[flexioff_reason]' size='40' type='text' style='border:1px solid red' id='flexi_other'>")
  }else{
  $('#flexi_other').hide();
  }

  $('#time_entry_activity_id').change(function(){
  if ($(this).find(":selected").text()=='Flexi OFF' ){
  $('#time_entry_flexioff_reason').closest('p').show();
  }
  else{
  $('#time_entry_flexioff_reason').closest('p').hide();
  $('#time_entry_flexioff_reason').val('')
  }
  });

  $('#time_entry_flexioff_reason').change(function(){
  if ($('#time_entry_flexioff_reason').find(":selected").text()=='Others'){
  $('#time_entry_flexioff_reason').closest('p').find('#flexi_others').html("<input name='time_entry[flexioff_reason]' size='40' type='text' style='border:1px solid red' id='flexi_other' placeholder='Others Reasons'>")
  }else{
  $('#flexi_other').hide();
  }
  });

  $('#time_entry_activity_id').closest('form').submit(function(){
  var x = ($('#time_entry_flexioff_reason').find(":selected").text()=='Others')
  var y = $.trim($('#flexi_other').val())

  if (($('#time_entry_activity_id').find(":selected").text()=='Flexi OFF' && $('#time_entry_flexioff_reason').val()==null) || x && y==''){

  if (!$('#errorExplanation').is(':visible') ){
  $('.flexi_reason').show();
  }
  if ($('#flexi_error').not(':visible') ){
    $('#errorExplanation').append("<ul><li id='flexi_error'>Flexi Off Reason  can't be blank</li></ul>")
  }


  return false;
  } else{
  this.submit();
  }
  })


  })
<% end %>