<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'importer', :plugin => 'redmine_importer' %>
<% end %>
<% if not @messages.empty? %>
    <hr/>
    <h3><%= l(:label_result_messages) %></h3>
    <ul>
      <% @messages.each do |m| %>
          <li><%= m %></li>
      <% end %>
    </ul>
<% end %>
<% content_for :update_issue_javascript do %>
<script type='text/javascript'>
  $(function() {
    $('#update_issue').change(function() {
      $('#journal_field').attr('disabled', !this.checked) 
      $('#update_other_project').attr('disabled', !this.checked) 
      $('#ignore_non_exist').attr('disabled', !this.checked) 
    }).change();
  })
</script>
<% end %>
<% if @headers.present? %>
<h2><%= l(:label_match_columns) %></h2>

<!--
<fieldset class="box"><legend><%= l(:label_load_rules) %></legend>
	<% @headers.each do |column| %>
		 
	<% end %>
</fieldset>
-->


<hr/>

<%= l(:label_toplines, @original_filename) %>
<table class="list">
    <thead><tr>
        <% @headers.each do |column| %>
          <%if column.present? %>
          <th><%= column.unpack('U*').pack('U*') rescue nil %></th>
              <% end %>
        <% end %>
	</tr></thead>
	<tbody>
	<% @samples.each do |issue| -%>
	<tr class="<%= cycle("odd", "even") %>">
            <% issue.each do |column| %>
               <% column[1] = column[1].unpack('U*').pack('U*') if column[1].kind_of?(String) %>
               <%= content_tag 'td', column[1] %>
            <% end %>
	</tr>
	<% end %>
	<tr class="<%= cycle("odd", "even") %>">
	    <% @headers.each do |column| %><td>...</td><% end %>
	</tr>
	</tbody>
</table>

<%= form_tag({:action => 'result'}, {:multipart => true}) do %>
    <%= hidden_field_tag 'project_id', @project.id %>
    <%= hidden_field_tag 'import_timestamp', @import_timestamp %>
    <div id="matching_columns" style="display:none">
    <fieldset class="box"><legend><%= l(:label_match_select) %></legend>
      <% @headers.each do |column| %>
          <% matched = ''
             @attrs.each do |k,v| if v.to_s.casecmp(column.to_s.sub(" ") {|sp| "_" }) == 0 or k.to_s.casecmp(column.to_s) == 0 then matched = v end end
          %>
          <label class="tabular"><%= column.unpack('U*').pack('U*') rescue nil%>:
            <%= select_tag "fields_map[#{column.unpack('U*').pack('U*')}]", raw("<option value=\"\">#{l(:option_ignore)}</option>") +
                    options_for_select( @attrs, matched ) rescue nil%></label>
      <% end %>
    </fieldset>

    <fieldset class="box"><legend><%= l(:label_import_rule) %></legend>
      <label><%= l(:label_unique_field) %>
        <%= select_tag "unique_field", raw("<option value=\"\">#{l(:option_ignore)}</option>") +
                options_for_select(@headers.map{|header| header.unpack('U*').pack('U*')}) rescue nil%></label><br/>


      <%= yield :update_issue_javascript %>


    </fieldset>
</div>

    <!--	<%= submit_tag l(:button_save_rules_and_submit) %>
    <%= text_field_tag('rule_name', l(:label_rule_name), {:size => 32, :maxlength => 32, :onfocus => "if(this.value == '#{l(:label_rule_name)}') {this.value = ''}"}) %>
    --><br/>
    <%= submit_tag l(:button_submit) %>
<% end %>
<% end %>