<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'importer', :plugin => 'redmine_importer' %>
<% end %>

<h2><%= l(:label_import_result) %></h2>
<p><%= l(:label_wktime_result_notice, :handle_count => @handle_count, :success_count => @handle_count) %></p>

<% if not @messages.empty? %>
	<hr/>
	<h3><%= l(:label_result_messages) %></h3>
    <% if @messages.size > 10 %>
    <div class="scrollbar" id="ex3">
	<ul>
	<% @messages.each do |m| %>
		<li><%= m %></li>
	<% end %>
	</ul>
        </div>
        <% else %>
        <ul>
          <% @messages.each do |m| %>
              <li><%= m %></li>
          <% end %>
        </ul>
<% end %>
    <%end %>

<hr/>
<% if @failed_count > 0 %>
	<h3><%= l(:label_result_failed, @failed_count) %></h3>
    <%if @failed_count > 10 %>
    <div class="scrollbar" id="ex3">
    <% end %>
    <table class="list">
		<thead><tr>
			<th>#</th>
			<% @headers.each do |column| %>
			<th><%= column.unpack('U*').pack('U*')  rescue nil %></th>
			<% end %>
		</tr></thead>
		<tbody>
        <%#= @failed_issues %>
		<% @failed_issues.each do |id, issue| -%>
		<tr class="<%= cycle("odd", "even") %>">
			<td><%= id %></td>
			<% issue.each do |column| %>
		<%- data = column[1] -%>
		<%- data = data.unpack('U*').pack('U*') if data.is_a?(String) rescue nil-%>
			<%= content_tag 'td', data %>
		<% end %>
		</tr>
		<% end %>
		</tbody>
	</table>
    </div>

    <%#= params[:failed_issues] %>
    <%#= link_to 'Download CSV list', timelog_importer_export_csv_path(:project_id=>@project.id,:headers=>@failed_issues.to_a) %>
    <%#= link_to "Export to csv",timelog_importer_export_csv_path(@failed_issues.merge({:format => :csv}))%>
    <%#= link_to "Export to csv",timelog_importer_export_csv_path(:shiva=> params[:failed_issues][0])%>
    <%= link_to "Export to csv", timelog_importer_export_csv_path(({:format => :csv,:project_id=>@project.id}))%>
<% end %>

<style>
    .scrollbar{
        height:300px;
        background-color:lightgray;
        margin-top:40px;
        margin-left:40px;
        overflow-y:scroll;

    }
    .content{
        height:450px;
    }

</style>