<% roles = Role.find_all_givable %>
<% projects = Project.active.all %>

<div class="splitcontentleft">
<% if @user.memberships.any? %>
<table class="list memberships">
  <thead><tr>
    <th><%= l(:label_project) %></th>
    <th><%= l(:label_role_plural) %></th>
    <th style="width:15%"></th>
      <%= call_hook(:view_users_memberships_table_header, :user => @user )%>
  </tr></thead>
  <tbody>
  <% @user.memberships.each do |membership| %>
  <% next if membership.new_record? %>
  <tr id="member-<%= membership.id %>" class="<%= cycle 'odd', 'even' %> class">
  <td class="project">
    <%= link_to_project membership.project %>
  </td>
  <td class="roles">
    <span id="member-<%= membership.id %>-roles"><%=h membership.roles.sort.collect(&:to_s).join(', ') %></span>
    <%= form_for(:membership, :remote => true,
                 :url => user_membership_path(@user, membership), :method => :put,
                 :html => {:id => "member-#{membership.id}-roles-form",
                           :style => 'display:none;'}) do %>
        <p><% roles.each do |role| %>

        <% if role.internal %>
          <label><%= check_box_tag 'membership[role_ids][]', role.id, membership.roles.include?(role),
                                                                 :disabled => membership.member_roles.detect {|mr| mr.role_id == role.id && !mr.inherited_from.nil?},
                                                                 :id => nil %> <%=h role %></label><br />
        <%else%>
                  <%= hidden_field_tag('membership[role_ids][]',role.id )  %>
          <span class="<%= role.internal == false ? "eo_role" : "" %>"><%= role %></span></br>
        <%end%>



        <% end %></p>
        <%= hidden_field_tag 'membership[role_ids][]', '' %>
        <p><%= submit_tag l(:button_change) %>
        <%= link_to_function l(:button_cancel),
                             "$('#member-#{membership.id}-roles').show(); $('#member-#{membership.id}-roles-form').hide(); return false;"
            %></p>
    <% end %>
  </td>
    <td>

    </td>
    <%= call_hook(:view_users_memberships_table_row, :user => @user, :member => membership, :roles => roles, :projects => projects,:project=>membership.project )%>

    <td class="buttons">
      <%= link_to_function l(:button_edit),
                           "$('#member-#{membership.id}-roles').hide(); $('#member-#{membership.id}-roles-form').show(); return false;",
                           :class => 'icon icon-edit'
          %>
      <%= delete_link user_membership_path(@user, membership), :remote => true if membership.deletable? %>
  </td>
  </tr>
  <% end; reset_cycle %>
  </tbody>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</div>

<div class="splitcontentright">
<% if projects.any? %>
<fieldset><legend><%=l(:label_project_new)%></legend>


<%= form_for(:membership, :remote => true,:html=>{:class=>"user_new_membership",:id=>"user_new_membership"}, :url => user_memberships_path(@user)) do %>

 <%= call_hook(:view_users_new_user_header, :project => projects.first) %>

<%= select_tag 'membership[project_id]', options_for_membership_project_select(@user, projects) %>
<p><%= l(:label_role_plural) %>:
<div>
<% roles.each do |role| %>
<% if role.internal %>
  <label><%= check_box_tag 'membership[role_ids][]', role.id, false, :id => nil %> <%=h role %></label>
  <%else%>
  <span class="<%= role.internal == false ? "eo_role" : "" %>"><%= role %></span></br>
  <%end%>
<% end %>
</div>
</p>

<p><%= submit_tag l(:button_add) %></p>
<% end %>
</fieldset>
<% end %>
</div>

<style>

.eo_role{
  padding-left: 18px;
}
</style>