<%= error_messages_for 'time_entry' %>
<%= back_url_hidden_field_tag %>
<div id="errorExplanation" class="flexi_reason" style="display: none"></div>
<div class="box tabular">
  <% if @time_entry.new_record? %>
    <% if params[:project_id] %>
      <%= hidden_field_tag 'project_id', params[:project_id],:required => true %>
    <% elsif params[:issue_id] %>
      <%= hidden_field_tag 'issue_id', params[:issue_id],:required => true %>
    <% else %>
      <p><%= f.select :project_id, project_tree_options_for_select(Project.allowed_to(:log_time).all, :selected => @time_entry.project, :include_blank => true),:required => true %></p>
    <% end %>
  <% end %>
  <p>
    <%= f.text_field :issue_id, :size => 6,:required => true %>
    <span id="time_entry_issue"><%= h("#{@time_entry.issue.tracker.name} ##{@time_entry.issue.id}: #{@time_entry.issue.subject}") if @time_entry.issue %></span>
  </p>
  <p><%= f.text_field :spent_on, :size => 10, :required => true %><%= calendar_for('time_entry_spent_on') %></p>
  <p><%= f.text_field :hours, :size => 6, :required => true %></p>
  <p><%= f.text_field :comments, :size => 100, :maxlength => 255 %></p>
  <p><%= f.select :activity_id, activity_collection_for_select_options(@time_entry), :required => true %></p>
  <% wktime_helper = Object.new.extend(WktimeHelper) %>

  <p><%= f.select :work_location, options_for_select(wktime_helper.timeEntry_location, :selected => @time_entry.work_location), :required => true %></p>
  <% reason = wktime_helper.flexioff_reasons.collect{|x|x[0]}.include?(@time_entry.flexioff_reason) ? @time_entry.flexioff_reason : 'Others'  %>
  <p><%= f.select :flexioff_reason, options_for_select(wktime_helper.flexioff_reasons,  :selected => @time_entry.flexioff_reason.nil? ? '' : reason), {:prompt => '--- Select ---',:required => true} %>
    <span id="flexi_others" name="<%=@time_entry.flexioff_reason %>"></span>
  </p>
  <% @time_entry.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :time_entry, value %></p>
  <% end %>
  <%= call_hook(:view_timelog_edit_form_bottom, { :time_entry => @time_entry, :form => f }) %>
</div>

<%= javascript_tag do %>
  observeAutocompleteField('time_entry_issue_id', '<%= escape_javascript auto_complete_issues_path(:project_id => @project, :scope => (@project ? nil : 'all'))%>', {
    select: function(event, ui) {
      $('#time_entry_issue').text(ui.item.label);
    }
  });
  $(document).ready(function(){
    if ($('#time_entry_activity_id').find(":selected").text()=='Flexi OFF'){
      $('#time_entry_flexioff_reason').closest('p').show();
    }else{
      $('#time_entry_flexioff_reason').closest('p').hide();

    };

    if ($('#time_entry_flexioff_reason').find(":selected").text()=='Others'){
      var flx = $('#flexi_others').attr('name')
      $('#time_entry_flexioff_reason').closest('p').find('#flexi_others').html("<input name='time_entry[flexioff_reason]' size='40' type='text' style='border:1px solid red' id='flexi_other'>")
      $('#flexi_other').val(flx)
    }else{
      $('#flexi_other').remove();
    }

    $('#time_entry_activity_id').change(function(){
      if ($(this).find(":selected").text()=='Flexi OFF' ){
        $('#time_entry_flexioff_reason').closest('p').show();
      }
      else{
        $('#time_entry_flexioff_reason').closest('p').hide();
        $('#time_entry_flexioff_reason').val('')
        $('#flexi_other').remove();
      }
    });

    $('#time_entry_flexioff_reason').change(function(){
      if ($('#time_entry_flexioff_reason').find(":selected").text()=='Others'){
        var flx = $('#flexi_others').attr('name')
        $('#time_entry_flexioff_reason').closest('p').find('#flexi_others').html("<input name='time_entry[flexioff_reason]' size='40' type='text' style='border:1px solid red' id='flexi_other' placeholder='Others Reasons'>")
        $('#flexi_other').val('')
      }else{
        $('#flexi_other').remove();
      }
    });


  })
<% end %>
