<div class="box tabular" style="margin-top:34px">

  <%= title l(:lable_unlocks_report) %>
  <div id="all_attributes">
    <%= form_tag({:action => 'unlocked_report'}, {:multipart => true}) do %>
        <%= hidden_field_tag 'project_id', @project.id %>
        <%= hidden_field_tag 'tabs', "unlocked_report" %>

       Select User:
        <%= select_tag "user_id",principals_options_for_select_default(@project.assignable_users, params[:user_id]),prompt: "All",class: "assignee_select" %>
        <%#= select_tag "assigned_to_id", principals_options_for_select(@project.assignable_users, User.current),class: "assignee_select",:include_blank => true %>

        <%#= text_field_tag 'from',:id=> "datepicker_from"%>
        From: <input type="text" name="from" id="datepicker_unlock_from">
       To: <input type="text" name="to" id="datepicker_unlock_to">
        <%= submit_tag l(:button_submit),:class=>"assign_submit" %>
    <% end %>


  </div>

  <% if @from.present? %>
      <h3>Unlocked list from: <%= @from %> To: <%= @to %></h3>
          <h3> Results(<%= @unlocks.count %>)</h3>
  <% else %>
      <h3>Unlocked list from past 30 days</h3>
          <h3> Results(<%= @unlocks.count %>)</h3>
  <% end %>
  <% if @unlocks.present? %>
  <%if @unlocks.count > 10 %>
      <div class="scrollbar" id="ex3">
  <% end %>

  <table class="reports_list list">
    <thead ><tr>
      <th><%= l(:lable_user) %></th>
      <th><%= l(:lable_unlocked_by) %></th>
      <th><%= l(:lable_unlocked_date) %></th>
      <th><%= l(:lable_unlocked_comment) %></th>

    </tr></thead>
    <%#= @project.id %>
    <% @unlocks.each do |each_lock| -%>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <%= each_lock.user rescue nil%>
          </td>
          <td>
            <%= each_lock.unlocked_user rescue nil%>,
            <%#= rejected.rejected_role rescue nil%>
          </td>
          <td>
            <%= each_lock.created_at rescue nil%>
          </td>
          <td>
            <%= each_lock.comment rescue nil%>
          </td>
        </tr>
    <% end %>
  </table>

<div>
  <% other_formats_links do |f| %>
      <%= f.link_to 'CSV', :url => params.merge(:action=> "unlocked_report",:key => User.current.rss_key)  %>
      <%#= link_to "Export to csv", timelog_importer_export_csv_path(({:format => :csv,:project_id=>@project.id}))%>
  <% end %>
</div>

<% end %>
  </div>
  </div>
