<%= stylesheet_link_tag 'report', :plugin => "redmine_reject_locked_reports" %>
<%= javascript_include_tag 'report', :plugin => "redmine_reject_locked_reports" %>


<%= render :partial => 'reports_header' %>
<div id="reports">
  <% if params[:tabs]=="reject_report" %>
<div id="rejections_report" style="display: ">

  <%= render :partial => 'rejections_report' %>
  </div>
 <div id="unlocks_report" style="display:none">
    <%= render :partial => 'unlocked_report' %>
 </div>
<% elsif params[:tabs] == "unlocked_report" %>
<div id="unlocks_report" style="display: ">
  <%= render :partial => 'unlocked_report' %>
</div>
    <div id="rejections_report" style="display:none ">
      <%= render :partial => 'rejections_report' %>

    </div>
<% end %>
</div>
