<%= hidden_field_tag :kanban_popup_object, "" %>

<div id="errorExplanation" style="display:none;"><ul>
</ul></div>

<h2><%= issue_heading(@issue) %></h2>
<%#= @issue.inspect %>
<%= labelled_form_for @issue, :url => url_for(:controller => 'kanban_cards', :action => 'update'),:html => {:id => 'kanban_card_form', :multipart => true} do |f| %>

    <%= error_messages_for 'issue', 'time_entry' %>
    <%= render :partial => 'kanbans/issues/conflict' if @conflict %>
    <%= hidden_field_tag :project_id, @project.id %>
    <%= hidden_field_tag :issue_id, @issue.id %>
    <%= hidden_field_tag :id, @issue.id %>
    <%= hidden_field_tag :kanban_pane_id, 0 %>
    <%#= hidden_field_tag :kanban_pane_id, params[:project_id] %>


    <div class="box">
      <% if @edit_allowed || !@allowed_statuses.empty? %>
          <fieldset class="tabular"><legend><%= l(:label_change_properties) %></legend>
            <div id="all_attributes">
              <%= render :partial => 'kanbans/issues/form', :locals => {:f => f} %>
            </div>
          </fieldset>
      <% end %>
      <% if User.current.allowed_to?(:log_time, @project) %>
          <fieldset class="tabular"><legend><%= l(:button_log_time) %></legend>
            <%= labelled_fields_for :time_entry, @time_entry do |time_entry| %>
                <div class="splitcontentleft">
                  <p><%= time_entry.text_field :hours, :size => 6, :label => :label_spent_time %> <%= l(:field_hours) %></p>
                </div>
                <div class="splitcontentright">
                  <p><%= time_entry.select :activity_id, activity_collection_for_select_options %></p>
                  <p><%= time_entry.text_field :spent_on, :size => 10 %><%= calendar_for('time_entry_spent_on') %></p>
                </div>
                <p><%= time_entry.text_field :comments, :size => 60 %></p>
              <div class="splitcontentleft">
                <% wktime_helper = Object.new.extend(WktimeHelper) %>
                <p><%= time_entry.select :work_location, options_for_select(wktime_helper.timeEntry_location, :selected => @time_entry.work_location), :required => true %></p>

              </div>
              <% reason = wktime_helper.flexioff_reasons.collect{|x|x[0]}.include?(@time_entry.flexioff_reason) ? @time_entry.flexioff_reason : 'Others'  %>
              <div class="splitcontentright">
                <p><%= time_entry.select :flexioff_reason, options_for_select(wktime_helper.flexioff_reasons,:selected => @time_entry.flexioff_reason.present? ? reason : ''), {:prompt => '--- Select ---',:required => true}  %>
                  <span id="flexi_others" name="<%=@time_entry.flexioff_reason %>"></span>
                </p>
              </div>
              <% @time_entry.custom_field_values.each do |value| %>
                <p><%= custom_field_tag_with_label :time_entry, value %></p>
              <% end %>
            <% end %>
          </fieldset>
      <% end %>



      <fieldset><legend><%= l(:label_attachment_plural) %></legend>
        <p><%= render :partial => 'kanbans/attachments/form', :locals => {:container => @issue} %></p>
      </fieldset>
    </div>


    <fieldset><legend><%= l(:field_notes) %></legend>
      <%= f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit', :no_label => true %>
       <%= wikitoolbar_for 'issue_notes' %>

      <% if @issue.safe_attribute? 'private_notes' %>
          <%= f.check_box :private_notes, :no_label => true %> <label for="issue_private_notes"><%= l(:field_private_notes) %></label>
      <% end %>

      <%#= call_hook(:view_issues_edit_notes_bottom, { :issue => @issue, :notes => @notes, :form => f }) %>
    </fieldset>

    <%= f.hidden_field :lock_version %>
    <%= hidden_field_tag 'last_journal_id', params[:last_journal_id] || @issue.last_journal_id %>

    <%#= button_tag("Save") %>
    <button name="button" type="button" id="popupSubmit" >Save</button>

    <%#= submit_tag l(:button_submit) %>
    <%#= preview_link preview_edit_issue_path(:project_id => @project, :id => @issue), 'issue-form' %>
    | <%#= link_to l(:button_cancel), {}, :onclick => "$('#update').hide(); return false;" %>
<% end %>

<script>

    $("#kanban_card_form #popupSubmit").click(function(){
        $.ajax({
            url: "/kanban_card?" + $('#kanban_card_form').serialize(), // Route to the Script Controller method
            type: "PUT",
            dataType: "json",
            // This goes to Controller in params hash, i.e. params[:file_name]
            complete: function () {
            },
            success: function (data) {

                console.log(data.errors);
                if(data.errors) {
                    $('#errorExplanation').css("display", "block");
                    $('#errorExplanation ul').empty();
                    $('#errorExplanation ul').append(data.errors)
                }
                else
                {
                    if($("#popupWindow #popupWindowBody form.edit_issue").length > 0)
                    {
                        $("#popupWindow #popupWindowBody form.edit_issue").remove();
                        window.location.reload();
                    }
                }


            }

        });


    });
    if ($('#time_entry_activity_id').find(":selected").text()=='Flexi OFF'){
      $('#time_entry_flexioff_reason').closest('p').show();
    }else{
      $('#time_entry_flexioff_reason').closest('p').hide();
    };

    if ($('#time_entry_flexioff_reason').find(":selected").text()=='Others'){
      var flx = $('#flexi_others').attr('name')
      $('#time_entry_flexioff_reason').closest('p').find('#flexi_others').html("<input name='time_entry[flexioff_reason]' size='40' type='text' style='border:1px solid red' id='flexi_other'>")
      $('#flexi_other').val(flx)
    }else{
      $('#flexi_other').remove();
    }

    $('#time_entry_activity_id').change(function(){
      if ($(this).find(":selected").text()=='Flexi OFF' ){
        $('#time_entry_flexioff_reason').closest('p').show();
      }
      else{
        $('#time_entry_flexioff_reason').closest('p').hide();
        $('#time_entry_flexioff_reason').val('')
      }
    });

    $('#time_entry_flexioff_reason').change(function(){
      if ($('#time_entry_flexioff_reason').find(":selected").text()=='Others'){
        var flx = $('#flexi_others').attr('name')
        $('#time_entry_flexioff_reason').closest('p').find('#flexi_others').html("<input name='time_entry[flexioff_reason]' size='40' type='text' style='border:1px solid red' id='flexi_other' placeholder='Others Reasons'>")
        $('#flexi_other').val('')
      }else{
        $('#flexi_other').remove();
      }
    });

    $('#time_entry_activity_id').closest('form').submit(function(){
      var x = ($('#time_entry_flexioff_reason').find(":selected").text()=='Others')
      var y = $.trim($('#flexi_other').val())

      if (($('#time_entry_activity_id').find(":selected").text()=='Flexi OFF' && $('#time_entry_flexioff_reason').val()==null) || x && y==''){

        if (!$('#errorExplanation').is(':visible') ){
          $('.flexi_reason').show();
        }
        if ($('#flexi_error').not(':visible') ){
          $('#errorExplanation').append("<ul><li id='flexi_error'>Flexi Off Reason  can't be blank</li></ul>")
        }
        return false;
      } else{
        this.submit();
      }
    })




    //
//    function update_form()
//
//    {
//
//        // Sprint Create
//
//        $.ajax({
//            url: "/kanbans/update_form?" + $('form#kanban_card_form').serialize(), // Route to the Script Controller method
//            type: "POST",
//            dataType: "json",
//            // This goes to Controller in params hash, i.e. params[:file_name]
//
//            complete: function () {
//            },
//            success: function (data) {
//
//                console.log(data.errors);
//                if(data.errors) {
//                    $('#issue_errors #divError').css("display", "block");
//                    $('#issue_errors #divError').text(data.errors)
//                }
//                else
//                {
//                    console.log($("#popupWindowBody"))
////                    console.log(data.editcardPartial)
//                    $("#popupWindowBody").html(data.editcardPartial)
////                    $("#popupWindow").dialog('close');
//                    console.log(7777777777777)
////                    find_issue_status_id();
//
//                }
//
//            }
//
//        });
//
//    }




</script>